@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;

    }

    .section {
        padding: 96px 0 96px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-list {
        display: flex;
    
    
        }
    
    .header-item:not(:last-child) {
        margin-right: 40px;
        }
    
    .header-link {
        padding-top: 24px;
        padding-bottom: 24px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: black;
        transition: color var(--primary-time) var(--primary-cubic);
    
    
        }
    
    .header-link:hover,
    .header-link:focus {
        color: var(--active-color);
        }
    
    
    .current::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        bottom: -4px;
        border-radius: 2px;
    
        background-color: var(--active-color);
        }
    
    .header-adress {
        display: flex;
        }
    
    .adress-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-left: auto;
        }
    
    /* .adress-item:not(:last-child) {
        margin-right: 40px;
        } */
    
    .adress-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        color: var(--secondary-color);
        transition: color var(--primary-time) var(--primary-cubic);
        }
    
    .adress-link:hover,
    .adress-link:focus {
        color: var(--active-color);
        }

    .menu-open {
        display: none;
    }

    .hero {
        padding: 110px 0;
    }

    .hero-title {
        margin-bottom: 40px;

        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
    }

    .bg-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab.jpg);
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .bg-image {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg-tab2x.jpg);
            }
        }

    /* .team-item {
        width: calc((100%-24px) / 2);
        } */

    .futures-subtitle {
        text-align: left;
}

    .futures-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .futures-item {
        width: 356px;
    }

    .customers-list {
        display: flex;
        gap: 24px;
        }

    .customers-item {
        width: 168px;
        }

    .footer-container.container {
        padding-left: 108px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        align-items: flex-start;

    }

    .footer-logo {
        display: flex;
        justify-content: flex-start;
    }

    .footer-soc-title {
        text-align: left;
    }

    .footer-subscribe-text {
        text-align: left;
    }

    .footer-subscibe-wrap {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-subscribe-input {
        width: 264px;   
    }

    .modal {
        width: 408px;
        padding: 24px;
    }
}